 /* All Common Css Start*/
 *{
     margin: 0;
     padding: 0;
     outline: 0;
 }
 li,ul{
     list-style-type: none;
 }
 a{
     display: inline-block;
     text-decoration: none;
 }
 .section{
     width: 100%;
 }
 .container{
     width: 1370px;
     margin: 0 auto;
 }
 .clr{
     clear: both;
 }
 /* All Common Css End*/
 .navbar{
     background: rgb(66, 64, 64);
 }
.container{
    display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;

}
.nav{
    flex: 1;
    text-align: right;
}
.nav ul li{
    display: inline-block;
    margin-left: 20px;
}

.nav ul li a{
    color: #fff;
    line-height: 90px;
    position: relative;
    
}
.nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    opacity: 0px;
    bottom: 20px;
    left: 0;
    background: red;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    margin: auto;

}
.nav ul li a:hover{
    color: green;
}
.nav ul li a:hover::after{
    width: 100%;
    opacity: 1;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.banner_part_item{
   background:linear-gradient(to right, red , yellow);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    min-width: 300px;
    flex-basis: 50%;
}
.col-2 img{
    width: 100%;
    padding: 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    
}
.col-2 p{
    color: rgba(121, 129, 121, 0.8); 
    padding-top: 20px;
    padding-bottom: 15px;
}

.col-2 a{
    background: red;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #fff;
    font-size: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.col-2 a:hover{
    background: rgb(17, 218, 27);
}


.categories{
    padding-top: 30px;
    /* padding-bottom: 30px; */
}
.col-3{
    flex-basis: 30%;
}
.col-3 img{
    width: 100%;
}




.featured{
    padding-top: 70px;
    padding-bottom: 70px;
}
.featured_part {
    margin: 0 auto;
    
    
}
.all_item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.featured_text h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
}
.featured_text h3::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: 46%;
    background: red;
    transform: rotateX(-50%);
    -webkit-transform: rotateX(-50%);
    -moz-transform: rotateX(-50%);
    -ms-transform: rotateX(-50%);
    -o-transform: rotateX(-50%);
}

.featured_item{
    flex-basis: 23%;
    padding-top:70px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.featured_item img{
    width: 100%;
}
.featured_item_img{
    position: relative;
}

.featured_item_overly{
    position: absolute;
    background: rgba(17, 17, 17, 0.70);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.featured_item:hover .featured_item_overly{
    opacity: 1;
    visibility: visible;
}
.featured_item:hover .rating_part{
    background: rgb(80, 72, 72);
}
.rating_part{
    padding: 20px;
}
.rating_part h3{
    font-size: 30px;
    padding-top: 5px;
    text-transform: capitalize;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.rating i{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#star{
    color: rgb(206, 190, 190);
} 
.rating_part p{
    font-size: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.featured_item:hover .rating_part h3{
    color: rgba(223, 236, 240, 0.952);
}
.featured_item:hover .rating_part p{
    color: rgb(136, 51, 111);
}
.featured_item:hover .rating i{
    color: rgba(235, 61, 52, 0.555);
}
.featured_item:hover{
    transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -ms-transform: translatey(-10px);
    -o-transform: translatey(-10px);
}
.offer_part{
    background: linear-gradient(to right, rgb(236, 177, 177) , rgb(214, 214, 200));
}

.offer_item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.colo_12{
    flex-basis: 50%;
    min-width: 300px;

}
.colo_12 img{
    width: 100%;
    padding: 70px 90px 70px 80px;

}
.colo_text{
   margin-left: 200px;
}
.colo_12 h1{
    text-transform: uppercase;
    font-size: 30px;
   
   
}
.colo_12 h4 {
	/* color: #fff; */
	font-size: 20px;
	text-transform: capitalize;
	padding-bottom: 80px;
}
.colo_12 p {
	color: #555;
	font-size: 14px;
	width: 474px;
	line-height: 22px;
	padding: 40px 0px;
}
.colo_12 a{
    background: red;
    padding: 15px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.colo_12 a:hover{
    background: green;
}



.testimonial_part{
    padding-top: 80px;
    padding-bottom: 80px;
    
   
}
.testimonial_part_item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 20px 0 rgba(218, 206, 206, 0.767);
    margin-left: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.testimonial_part_text{
    flex-basis: 30%;
    min-width: 415px;
}
.testimonial_part_text{
    text-align: center;
}
.testimonial_part_text i{
    font-size: 30px;
    color: rgba(255, 68, 0, 0.74);
    padding-top: 30px;
}
.testimonial_part_text p{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    width: 330px;
    margin: 0 auto;
    line-height: 20px;
    color: #777;

}
.testimonial_part_text h3{
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-size: 20px;
    color: rgba(78, 73, 78, 0.8);
    text-transform: uppercase;
}
.testimonial_part_text img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    transition: .3;
    -webkit-transition: .3;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
}
.testimonial_part_text img:hover{
    transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -ms-transform: translatey(-10px);
    -o-transform: translatey(-10px);
}
.testimonial_part_item:hover{
    transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    -o-transform:translateY(-10px);
}
/* -------------------------------brand_part Start ----------------------------- */
.brand_part{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-5{
    margin-right: 4px;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 270px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.col-5 img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* -------------------------------brand_part End ----------------------------- */
/* -------------------------------Footer Part Start ----------------------------- */

.footer_part{
    background: #111;
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer_one{
    width: 320px;
    float: left;
    color: #fff;
    /* text-align: center; */
}
.footer_one p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    
}
.footer_2{
    text-align: center;
    margin-left: 40px;
}
.footer_one img{
    width: 200px;
}
.footer_3{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.footer_4{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.apps img{
    width: 150px;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.hr{
    background: red;
    /* height: 2px; */
}
.footer_item{
    border-bottom: 1px solid #fdfd;
}
/* -------------------------------Footer Part End ----------------------------- */
/* -------------------------------Socket Part Start ----------------------------- */
.socket_part{
    background: rgb(95, 93, 93);
    padding-top: 15px;
    padding-bottom: 20px;
}
.socket{
    margin: 0 auto;
}
.socket p{
    color: rgb(27, 25, 25);
    font-size: 20px;
    text-transform: capitalize;
}
/* -------------------------------Socket Part End ----------------------------- */


